.slide img{
    
    position: absolute;
    border-radius: 25px;
    object-fit: cover;
    margin-bottom: 30px;
    inset: 0;
    width:100%;
    height: 100%;
    opacity: 0;
    transition:  opacity 0.5s ease-in-out;
    margin-top: 25.36px ;
}
img.actif {
    opacity: 1;
}
.slide{
    position: relative;
    margin-bottom: 30px;

}
.slideNum{
    color: rgba(255, 255, 255, 1);
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 18px;
    bottom: 6.01%;
}
.pictures{
    position: relative;
     height: 415px;
    width:100%;
}
.butPrev{
    cursor: pointer;
    position: absolute;
    top:35.74%;
    left:0%;
    bottom: 35.44%;
    right: 92.26%;
    background-color: transparent;
    font-size: 96px;
    color:rgba(255, 255, 255, 1);
    border-width: 0;
    margin-left:23px;
}

.butNext{
    cursor: pointer;
    position: absolute;
    top:35.74%;
    bottom: 35.44%;
    right: 0%;
    background-color: transparent;
    font-size: 96px;
    color:rgba(255, 255, 255, 1);
    border-width: 0;
    margin-right:23px;
}
