.appart-cont h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 143%;
    width:100%;
    margin-left: 0;
    margin-bottom: 0;
    margin-block: 0;
    color: #FF6060;
    margin-top:24px
}
.appart-cont{
    width: 100%;
}
h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 143%;
    color: #FF6060;
    margin-top:0;
}
h3{
    margin-top: 0;
    margin-bottom: 0;
    height: 52px;
    width:93px;
    display: flex;
    font-weight: 500;
    vertical-align: bottom;
    text-align:right ;
     flex-direction: column;
     color: #FF6060;
}
.appart_head{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width:100%;
}
 .appart_tags span{
   
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#FF6060;
        color: white;
        border-radius: 10px;
        min-width: 115px;
        
        padding: 0.2em 1em;
        font-weight: 500;
        font-size: 14px;
        line-height: 19.96px; 
        text-align: center;
        margin: 10px 10px 10px 0;
   
}
.appart_tags{
  
    display: flex;
    flex-wrap: wrap;

} 
.appart_prop{
        margin-left: auto;
        margin-top:24px;
    }
.host img{
    width:64px;
    height:64px;
    border-radius: 50%;
  
}
.host_info{
    display: flex;
    gap:10px;
}
.rates{
   display: flex;
   justify-content: center;
    align-items: center;
    margin-top:24px;
    gap: 3px;
    color:#a3a1a1;
    font-size: 36px;
}

.color{
    color:#FF6060;
    font-size: 36px;
}


@media  screen and (width<=768px) {
    .appart_head{
        flex-direction: column;
        gap:15px;

    }
    .appart_prop{
        display: flex;
        /* flex-direction: column;
         flex-direction:row; */
        justify-content: space-between;
       
        margin-left: 0;
        
    }
    .host_info{
        order: 1;
       
        
    }
    .rates{
       margin-top: 0%;
       align-items: start;
       font-size: 24px;
    }
   .color{
    font-size: 24px;
   }
}
