.navbar{
    display: flex;
    gap:2rem;
    align-items: center;
    color:#FF6060;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    margin-top:40px;
}
.navbar > *:first-child{
    margin-right: auto;
}
.header_logo {
    margin-right: auto;
    width:210px;
    height: 68px;
}
.navbar a{
    text-decoration: none;
    color: #FF6060;
}
.navbar a.active{
    text-decoration: underline;

}
@media  screen and (width<=768px){
    .navbar{
        text-transform : uppercase; 
        margin-bottom: 19px;
        font-size: 12px;
        width: 100%;
        height: 47px;
        gap:10px;
        left: 20px;
        top: 20px; 
        
}

    .header_logo img {
   
        width:145px;
        height: 47px;
       
    
}
.accueil, .about{
   
    font-weight: 500;
    width:71px;
    top:20%;

}

}
