body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    background: white;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  @media (max-width: 768px) {
    body{
       width:100%;
      
    }
   
  }
  .body{
     padding : 0 100px;
  }
  
  @media (max-width: 768px) {
    .body{
     
      padding-inline: 20px;
    }
  }